.header {
  background-color: #fff;
}

.navbar-brand {
  font-size: 28px;
  line-height: 1;
}

.menu-back-drop {
  background: #000;
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 48px;
  bottom: 0;
  z-index: 99;
}

.hamburger-btn {
  position: absolute;
  padding: 11px 10px;
}
