.navbar {
  padding: 7px 0;

  .navbar-brand {
    padding: 0;
  }

  .nav-item {
    .nav-link {
      color: #6e7b83;
      padding: 10px 40px;
      text-transform: uppercase;
    }
  }

  .right-nav {
    align-items: center;
  }
}

@include media-breakpoint-down(md) {
  .navbar {
    .navbar-toggler {
      position: absolute;
      left: 0;
      top: 14px;
      padding: 0;
      outline: none;
      z-index: 2;
    }

    .navbar-brand {
      margin: auto;
    }

    .nav-item {
      .nav-link {
        padding: 10px 0;
      }
    }

    .right-nav {
      align-items: flex-start;
    }

    .navbar-collapse {
      box-shadow: 0 8px 16px -8px rgba(140, 142, 137, 0.24);
      opacity: 0;
      position: fixed;
      left: -200px;
      top: 48px;
      z-index: 100;
      padding: 24px 16px;
      background: #fff;
      height: calc(100vh - 48px);
    }
  }

  .hamburger-btn rect {
    transform-origin: left center;
  }
}
