<!-- header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        ${require('../images/ob-logo.svg')}
      </a>
      <button class="navbar-toggler hamburger-btn" type="button" id="hamburgerBtn">
          ${require('../images/hamburger.svg')}
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
        <ul class="navbar-nav right-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary btn-sm" href="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="menuBackDrop" class="menu-back-drop"></div>
</header -->
