<aside class="sidebar">
  <div class="nav-bar-wrap">
    <button class="navbar-toggler hamburger-btn" type="button" id="hamburgerBtn">
      ${require('../images/hamburger.svg')}
    </button>
    <div class="logo-wrap">
      <img src="/images/ob-logo.svg" class="img-fluid">
    </div>
  </div>
  <div id="side-nav" class="side-nav-wrap">
    <div class="side-nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#">
              <div class="icon-billing-sidebar">
                ${require('../icons/not-acitve.svg')}
              </div>
              <div>Email Campaigns</div>
              <div class="icon-billing-arrow ml-auto">
                ${require('../icons/arrow-up.svg')}
              </div>
            </a>
            <div class="">
              <a class="dropdown-item" href="#">Recommended (51)</a>
              <a class="dropdown-item" href="#">Browse All (225)</a>
              <a class="dropdown-item" href="#">Active (4)</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#">
              <div class="icon-billing-sidebar">
                ${require('../icons/stats.svg')}
              </div>
              <div>Reports</div>
              <div class="icon-billing-arrow ml-auto">
                ${require('../icons/arrow-up.svg')}
              </div>
            </a>
            <div class="">
              <a class="dropdown-item" href="#">Recommended</a>
              <a class="dropdown-item" href="#">Custom</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#">
              <div class="icon-billing-sidebar">
                ${require('../icons/notes.svg')}
              </div>
              <div>Requests</div>
              <div class="icon-billing-arrow ml-auto">
                ${require('../icons/arrow-up.svg')}
              </div>
            </a>
            <div class="">
              <a class="dropdown-item" href="#">Creatives</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center active" href="#">
              <div class="icon-billing-sidebar">
                ${require('../icons/settings.svg')}
              </div>
              <div>Settings</div>
              <div class="icon-billing-arrow ml-auto">
                ${require('../icons/arrow-up.svg')}
              </div>
            </a>
            <div class="">
              <a class="dropdown-item" href="./account.html">Account</a>
              <a class="dropdown-item" href="./contact.html">Contact</a>
              <a class="dropdown-item active" href="./billing.html">Billing</a>
              <a class="dropdown-item" href="#">Pixel</a>
              <a class="dropdown-item" href="#">Notification</a>
            </div>
          </li>
        </ul>
    </div>
  <div class="sidebar-footer">
    <div class="">
          <a class="d-flex align-items-center" href="#">
            <div class="icon-billing-sidebar">
              ${require('../icons/not-acitve.svg')}
            </div>
            <div>Vincent Lam(1234)</div>
            <div class="icon-billing-arrow ml-auto">
              ${require('../icons/arrowup-menu.svg')}
            </div>
          </a>
    </div>
  </div>
</div>

</aside>
<div id="menuBackDrop" class="menu-back-drop"></div>
